body{
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;

}
.calculadora{
      width: 300px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.calculadora h2{
      text-align: center;
      margin-bottom: 20px;
}
.calculadora input[type="number"]{
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
}
.calculadora select{
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
}
.calculadora input[type="submit"]{
      width: 100%;
      padding: 10px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
}
.calculadora input[type="submit"]:hover{
      background-color: #0056b3;
}

.resultado{
      margin-top: 20px;
      padding: 10px;
      background-color: #e9ecef;
      border-radius: 3px;
      text-align: center;
}
